*{
    margin: 0;
    padding: 0;
}

.forecast{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top:20px;
}

.days-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:20px;
}
.days{
    min-width:150px;
    height:200px;
    background-color: rgb(209, 193, 193,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temp-min-max{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.temp-min-max span:nth-child(1){
    /* font-size: 20px; */
    font-weight: 500;
}
.temp-min-max span:nth-child(2){
    color:rgb(31, 29, 29);
}