*{
    margin: 0;
    padding:0;
}

.today-weather{
    width:100%;
    /* background-color: rgb(209, 193, 193,0.4); */
}

.weather-image{
    height:25%;
    width:100%;
    text-align: right;
    /* background-color: aqua; */
}

.weather-image img{
    height:100%;
    width: 50%;
    object-fit: contain;
}
.temparature-div{
    /* text-align: center; */
    padding: 20px;
    font-weight: 500;
}
#temperature{
    font-weight: 800;
    font-size: 60px;
    
}
#date{
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}

.min-max{
    display: flex;
    justify-content: space-around;
    margin-top:20px;
}

.extra-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;

}
.details{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width:100%;
    padding: 0 20px;
}