*{
    margin: 0;
    padding: 0;
}

/* .app-div{
    box-sizing: border-box;
    width: 100vw;
    height:100vh;
} */

header{
    /* box-sizing: border-box; */

    height: 50px;
    width: 100vw;
    background-color: rgb(19, 114, 158);
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

.container{
    box-sizing: border-box;
    width: 100vw;
    min-height:100vh; 
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(117, 177, 226);
}

.aside{
    min-width:350px;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap:30px;
    padding: 10px;
    background-color: rgb(209, 193, 193,0.3);
    /* margin-top:20px;
    margin-bottom: 20px; */
    margin: 20px;

}

.loader-div{
    height: 100px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading {
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #ccc;
    border-right-color: #888;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
  }
  
  @keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }